<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="bi bi-bootstrap-fill"></i>
      Bootstrap
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users">Users</a>
        </li>
      </ul>

      <% if Rails.env.development? %>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDevTools" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-tools"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDevTools">
              <li><%= link_to "Mailhog", "http://localhost:8025", target: "Mailhog", class: "dropdown-item" %></li>
              <li><%= link_to "Keycloak", "http://localhost:8080", target: "Keycloak", class: "dropdown-item" %></li>
            </ul>
          </li>
        </ul>
      <% end %>

      <% if signed_in? %>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% case %>
              <% when google? %>
                <i class="bi bi-google"></i>
              <% when github? %>
                <i class="bi bi-github"></i>
              <% when microsoft? %>
                <i class="bi bi-microsoft"></i>
              <% when twitter? %>
                <i class="bi bi-twitter"></i>
              <% else %>
                <i class="bi bi-person-circle"></i>
              <% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><%= link_to "Sign out", sign_out_path, class: "dropdown-item" %></li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
